@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<table width="60%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>

                <p>
                    Here at Narcosis101, we have been selling underwater photogrophy equipment for years. We are avid scuba divers/instructors, and love what we do.
                    <br>
                    <br>
                    We sell top quality used and new cameras, flashes, and lenses, and also dabble in other underwater equipment. We also sell poster to wallet sized photos we have taken, along with gear we have manifactured ourselves.
                    <br>
                    <br>
                    If you would like to see everything we have for sale, make sure to check out our other pages here, and also check out our <a href="http://stores.ebay.com/narcosis101?_rdc=1" target="_blank">ebay page</a>.
                    <br>
                    <br>
                    <br>
                    Hope you find what you are looking for.
                </p>

            </td>
        </tr>
    </tbody>
</table>